//Colors
$blue: #BF55EC;
$grey: #666;
$dark-grey: #333333;
$dark-blue: #013243;
$off-white: #f7f7f7;
// Font Size
$font-size-large: 1.8rem;
//Spacing
$s_size: 1.2rem;
$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$desktop_breakpoint: 45rem;